<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/css/lib/bootstrap-3.3.6.css">
    <link rel="stylesheet" href="/public/css/app.css">
    <link rel="stylesheet" href="/public/css/map.css">
</head>

<body>
    <div>
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
        
        <div style="width:50%; margin:0 auto;">Trading 23/01/2017</div>

        <%- include('partials/navbar') %>
    </div>

    <!-- Sidebar -->
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </div>

    <!-- Columns -->
    <div id="main" class="container">
        <div class="container">
            <div class="row">
                <!-- Columna izquierda -->
                <div class="col-xs-4">
                    En esta parte de la pagina se va a poder visualizar informacion y analisis
                    de acuerdo a los paises / partes del mapa que se seleccionen
                    <br><br><div id="infoOnClick"></div>
                    <br><div id="infoOnMouseover"></div>
                </div>
    

                <!-- Columna derecha -->
                <div class="col-xs-6" id="map">
                    En esta parte, estara el mapa, y un conjunto de opciones de entre las cuales
                    el usuario podra elegir, para que en la parte izquierda de la pagina se
                    muestre un analisis mas pormenorizado de acuerdo a sus necesidades
                <br>
                <button type="button" onclick="alert('Hello world!')">Click Me!</button>
                <button type="button" onclick="alert('Hello world!')">Click Me 2!</button>
                
                </div>
            </div>
        </div>

    </div>

    <!-- Scripts -->
    <script src="/public/js/lib/d3/d3.v3.min.js"></script>
    <script src="/public/js/lib/queue/queue.v1.min.js"></script>

    <script src="/public/js/functions.js"></script>
    <script src="/public/js/map.js"></script>
    <script src="/public/js/navbar.js"></script>
</body>

</html>
